@media only screen and (max-width: 991px) {
    .col-md-1 {
      width: calc(100% / 12 * 1);
    }
    .col-md-2 {
      width: calc(100% / 12 * 2);
    }
    .col-md-3 {
      width: calc(100% / 12 * 3);
    }
    .col-md-4 {
      width: calc(100% / 12 * 4);
    }
    .col-md-5 {
      width: calc(100% / 12 * 5);
    }
    .col-md-6 {
      width: calc(100% / 12 * 6);
    }
    .col-md-7 {
      width: calc(100% / 12 * 7);
    }
    .col-md-8 {
      width: calc(100% / 12 * 8);
    }
    .col-md-9 {
      width: calc(100% / 12 * 9);
    }
    .col-md-10 {
      width: calc(100% / 12 * 10);
    }
    .col-md-11 {
      width: calc(100% / 12 * 11);
    }
    .col-md-12 {
      width: calc(100% / 12 * 12);
    }
  }


  @media only screen and (max-width: 568px) {
    .col-sm-1 {
      width: 8.33%;
    }
    .col-sm-2 {
      width: 16.66%;
    }
    .col-sm-3 {
      width: 25%;
    }
    .col-sm-4 {
      width: 33.33%;
    }
    .col-sm-5 {
      width: 41.66%;
    }
    .col-sm-6 {
      width: 50%;
    }
    .col-sm-7 {
      width: 58.33%;
    }
    .col-sm-8 {
      width: 66.66%;
    }
    .col-sm-9 {
      width: 75%;
    }
    .col-sm-10 {
      width: 83.33%;
    }
    .col-sm-11 {
      width: 91.66%;
    }
    .col-sm-12 {
      width: 100%;
    }
  } 