@import "./mixins/mixins";
@import "./partials/about";
@import "./partials/whatido";
@import "./partials/founder";
@import "./partials/contacts";
@import "./partials/footer";
@import "./partials/resposive";